---
import '../styles/global.css';

import BaseLayout from '../layouts/BaseLayout.astro';

import Navigation from '../components/Navigation.astro';

import Header from '../components/Header.astro';

import Footer from '../components/Footer.astro';

const pageTitle = "About Me";

---

<BaseLayout pageTitle={pageTitle}>
	<h1 id="alexis-magallon"><strong>Alexis Magallon</strong></h1>
<h3 id="graphic-designer"><em>Graphic Designer</em></h3>
<h2 id="contact"><strong>Contact</strong></h2>
<ul>
<li>Email: alexismagallon41@gmail.com</li>
<li>Phone: 509.319.8407</li>
<li>IG: ruralghost.b_w</li>
<li>LinkedIn: <a href="https://www.linkedin.com/in/alexis-magallon">Alexis Magallon</a></li>
</ul>
<h2 id="skills"><strong>Skills</strong></h2>
<ul>
<li>Illustrative</li>
<li>Creative</li>
<li>Thoughtful</li>
<li>UX/UI</li>
<li>Adobe Suite</li>
</ul>
<h2 id="bio"><strong>Bio</strong></h2>
<p>I'm a versatile Graphic Designer with a diverse background. With experience ranging from bartending to automotive management, I bring a unique perspective to design. My work in various industries has honed my ability to adapt and create compelling visuals that resonate with different audiences. I'm known for my creativity, attention to detail, and commitment to delivering high-quality work. I'm always eager to learn and take on new challenges in the field of graphic design.</p>
<h2 id="experience"><strong>Experience</strong></h2>
<p><strong>The Basement</strong>
<em>Bartender/Bouncer</em></p>
<p><strong>Brand Safway</strong>
<em>Front Desk Clerk</em></p>
<p><strong>Clark's Tire &amp; Automotive/Lube Express</strong>
<em>Lube &amp; Tire Technician/Manager</em></p>
<p><strong>AutoZone</strong>
<em>Part Sales Associate</em></p>
<p><strong>Ritzville Warehouse Co.</strong>
<em>Elevator Technician</em></p>
<h2 id="education"><strong>Education</strong></h2>
<p><strong>Eastern Washington University</strong></p>
<ul>
<li>Bachelor's in Visual Communication Design</li>
<li>Frontend Web Developer Certificate, Undergraduate</li>
</ul>
<p><strong>Columbia-Burbank High School</strong></p>
<ul>
<li>Rings of Pride: Leadership Award</li>
</ul>
<h2 id="volunteer-work"><strong>Volunteer Work</strong></h2>
<p><strong>Pi Lambda Phi</strong></p>
<ul>
<li>Prolocutor (VP of Recruitment)</li>
<li>Alumni Relations (VP of Alumni Relations)</li>
<li>Can Food Drive</li>
<li>Campus Clean Up</li>
<li>Helped with setup and tare down for EWU Drag Show</li>
</ul>
<p><strong>Pasco Animal Shelter</strong></p>
<ul>
<li>Raffle Fundraiser where proceeds went to the Pasco Animal Shelter for food, toys, etc.</li>
</ul>
<p><strong>American Red Cross</strong></p>
<ul>
<li>Planned and managed a blood drive for my local high school</li>
</ul>
<p><strong>Tri-City Water Follies</strong></p>
<ul>
<li>Assisted with parking, provided water bottles, and set up tables, chairs, and tents</li>
</ul>

  </BaseLayout>
