---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navigation from '../components/Navigation.astro';
import PortfolioPost from '../components/PortfolioPost.astro';

const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Portfolio";

---
<BaseLayout pageTitle={pageTitle}>
	<h2>Portfolio</h2>
  <nav>
    <ul>
      <li><a href="src/pages/portfolio/project-1.md">Turnbull National Wildlife Refuge</a></li>
      <li><a href="src/pages/portfolio/project-2.md">Portfolio Item 2</a></li>
      <li><a href="src/pages/portfolio/project-3.md">Portfolio Item 3</a></li>
    </ul>
  </nav>
  </BaseLayout>