---
import '../styles/global.css';

import BaseLayout from '../layouts/BaseLayout.astro';

import Navigation from '../components/Navigation.astro';

import Header from '../components/Header.astro';

import Footer from '../components/Footer.astro';

const pageTitle = "Portfolio";

---
<BaseLayout pageTitle={pageTitle}>
	<h2>Portfolio</h2>
  </BaseLayout>