---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>


<style>
    a {
      padding: 0.5rem 1rem;
      color: #9e9675;
      background-color: #44241c;
      text-decoration: none;
    }
  </style>
  